@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-regular-text: 'Montserrat-Regular', sans-serif;
  --font-title-text: 'Montserrat-SemiBold', sans-serif;
  --font-accent-text: 'CrimsonPro-SemiBold', serif;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: #008033;
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: #0c542c;
  --color-secondary-content: oklch(98% 0.001 106.423);
  --color-accent: #4f4f4f;
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: #423d37;
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: #7acc00;
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}