@import "tailwindcss";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('src/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CrimsonPro-SemiBold';
    src: url('src/assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  
/* Asegura que el cuerpo del documento y la raíz de la aplicación ocupen el 100% del alto */
html, body {
  height: 100%;
  margin: 0;
}

/* Establece que el contenedor principal tenga un alto mínimo del 100% */
.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Asegura que el footer quede al final */
footer {
  margin-top: auto;
}
